In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases

In [12]:
"""A database is an organized collection of data, so that it can be easily accessed and managed.
You can organize data into tables, rows, columns, and index it to make it easier to find relevant information."""

'A database is an organized collection of data, so that it can be easily accessed and managed.\nYou can organize data into tables, rows, columns, and index it to make it easier to find relevant information.'

In [11]:
"""SQL is a programming language used by nearly all relational databases to query, manipulate, and define data, and to provide access control , in SQL data is typically modeled in rows and columns in a series of tables to make processing and data querying efficient.  while A NoSQL, or nonrelational database, allows unstructured and semistructured data to be stored and manipulated NoSQL databases grew popular as web applications became more common and more complex."""

'SQL is a programming language used by nearly all relational databases to query, manipulate, and define data, and to provide access control , in SQL data is typically modeled in rows and columns in a series of tables to make processing and data querying efficient.  while A NoSQL, or nonrelational database, allows unstructured and semistructured data to be stored and manipulated NoSQL databases grew popular as web applications became more common and more complex.'

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [13]:
"""Data Definition Language (DDL) - The Data Definition Language is the sublanguage responsible for defining the way data is structured in a database. In SQL, this corresponds to manipulating tables through the CREATE TABLE, ALTER TABLE, and DROP TABLE"""

'Data Definition Language (DDL) - The Data Definition Language is the sublanguage responsible for defining the way data is structured in a database. In SQL, this corresponds to manipulating tables through the CREATE TABLE, ALTER TABLE, and DROP TABLE'

In [ ]:
Create − It is used to create a new table or a new database.
eg. create table emp_details(emp_id INT, emp_name varchar(30),emp_designation varchar(30));

Alter − It is used to alter or change the structure of the database table.
eg. alter table emp_details ADD emp_joining_date DATETIME;

Drop − It is used to delete a table, index, or views from the database.
eg. drop table emp_details;

Truncate − It is used to delete the records or data from the table, but its structure remains as it is.
eg. truncate table emp_details;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

In [9]:
"""Data Manipulation Language (DML) - The Data Manipulation Language is the sublanguage responsible for adding, editing or deleting data from a database. In SQL, this corresponds to the INSERT, UPDATE, and DELETE"""

'Data Manipulation Language (DML) - The Data Manipulation Language is the sublanguage responsible for adding, editing or deleting data from a database. In SQL, this corresponds to the INSERT, UPDATE, and DELETE'

In [ ]:
The INSERT statement introduces new rows into an existing table.
eg. INSERT INTO tableName(column1,column2,column3……..) VALUES(value1,value2,value3……) ;

The DELETE statement removes a row or combination of rows from a table.
eg. DELETE FROM table_name WHERE condition;

The UPDATE statement enables users to update a row or group of rows in a table.
eg. UPDATE tableName SET column1 = value1, column2 = value2,... where condition;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

In [8]:
"""Data Query Language (DQL) - The Data Query Language is the sublanguage responsible for reading, or querying, data from a database. In SQL, this corresponds to the SELECT"""

'Data Query Language (DQL) - The Data Query Language is the sublanguage responsible for reading, or querying, data from a database. In SQL, this corresponds to the SELECT'

In [ ]:
Select is used to get a data from the table based on the conditions written the sql query . 
eg. select * from tablename where condition1..condition2..

In [ ]:
#Q5. Explain Primary Key and Foreign Key

In [14]:
"""A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key."""

'A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.'

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("select * from mydatabase.table_test")
for i in mycursor.fetchall():
    print(i)
mydb.close()

In [16]:
"""A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query."""

'A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.'

In [18]:
"""The execute() method: This method is used to execute SQL statements"""

'The execute() method: This method is used to execute SQL statements'

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
Order	Clause	Function
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count.