In [ ]:
#Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [1]:
"""MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need"""

'MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need'

In [2]:
"""A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems"""

'A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems'

In [3]:
"""Organizations of all sizes are adopting MongoDB, especially as a cloud database, because it enables them to build applications faster, handle highly diverse data types, and manage applications more efficiently at scale."""

'Organizations of all sizes are adopting MongoDB, especially as a cloud database, because it enables them to build applications faster, handle highly diverse data types, and manage applications more efficiently at scale.'

In [ ]:
#Q2. State and Explain the features of MongoDB.

In [ ]:
1.In MongoDB, you can search by field, range query and it also supports regular expression searches.
2.You can index any field in a document.
3.MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.
4.It has an automatic load balancing configuration because of data placed in shards.
5. Supports map reduce and aggregation tools.
6.Stores files of any size easily without complicating your stack.
7.It also supports:
JSON data model with dynamic schemas
Auto-sharding for horizontal scalability
Built in replication for high availability

In [ ]:
#Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [12]:
import pymongo
clint=pymongo.MongoClient("mongodb+srv://kumbanti7:kumbanti7@cluster0.l2qczdo.mongodb.net/?retryWrites=true&w=majority")
db=clint.test

In [13]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
db

Database(MongoClient(host=['ac-o3jtgff-shard-00-01.l2qczdo.mongodb.net:27017', 'ac-o3jtgff-shard-00-00.l2qczdo.mongodb.net:27017', 'ac-o3jtgff-shard-00-02.l2qczdo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12u30n-shard-0', tls=True), 'test')

In [14]:
clint=pymongo.MongoClient("mongodb+srv://kumbanti7:kumbanti7@cluster0.l2qczdo.mongodb.net/?retryWrites=true&w=majority")

In [17]:
db = clint['database']

In [18]:
database_collection=db['emp_details']

In [ ]:
#Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [22]:
data={'emp_id':675338,'emp_name':'Banti','emp_email':'kumarbanti@gmail.com'}

In [23]:
database_collection.insert_one(data)

In [27]:
data1=[
    {'emp_id':675338,'emp_name':'Banti','emp_email':'kumarbanti@gmail.com'},
    {'emp_id':56776,'emp_name':'kumar','emp_email':'kumar@gmail.com'},
    {'emp_id':67765,'emp_name':'rajput','emp_email':'rajput@gmail.com'},
    {'emp_id':977688,'emp_name':'Banti','emp_email':'Banti@gmail.com'}]

In [28]:
database_collection.insert_many(data1)

In [33]:
for i in database_collection.find():
    print(i)

{'_id': ObjectId('64e0681d54884543c442f496'), 'emp_id': 675338, 'emp_name': 'Banti', 'emp_email': 'kumarbanti@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f497'), 'emp_id': 675338, 'emp_name': 'Banti', 'emp_email': 'kumarbanti@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f498'), 'emp_id': 56776, 'emp_name': 'kumar', 'emp_email': 'kumar@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f499'), 'emp_id': 67765, 'emp_name': 'rajput', 'emp_email': 'rajput@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f49a'), 'emp_id': 977688, 'emp_name': 'Banti', 'emp_email': 'Banti@gmail.com'}

In [35]:
database_collection.find_one()

{'_id': ObjectId('64e0681d54884543c442f496'),
 'emp_id': 675338,
 'emp_name': 'Banti',
 'emp_email': 'kumarbanti@gmail.com'}

In [ ]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [36]:
data3=[{'course':'datascience'},{'teacher':'sudh'},{'org':'pwskills'},{'deg':'founder'}]

In [37]:
database_collection.insert_many(data3)

In [39]:
for i in database_collection.find():
    print(i)

{'_id': ObjectId('64e0681d54884543c442f496'), 'emp_id': 675338, 'emp_name': 'Banti', 'emp_email': 'kumarbanti@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f497'), 'emp_id': 675338, 'emp_name': 'Banti', 'emp_email': 'kumarbanti@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f498'), 'emp_id': 56776, 'emp_name': 'kumar', 'emp_email': 'kumar@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f499'), 'emp_id': 67765, 'emp_name': 'rajput', 'emp_email': 'rajput@gmail.com'}
{'_id': ObjectId('64e069ba54884543c442f49a'), 'emp_id': 977688, 'emp_name': 'Banti', 'emp_email': 'Banti@gmail.com'}
{'_id': ObjectId('64e06db054884543c442f49b'), 'course': 'datascience'}
{'_id': ObjectId('64e06db054884543c442f49c'), 'teacher': 'sudh'}
{'_id': ObjectId('64e06db054884543c442f49d'), 'org': 'pwskills'}
{'_id': ObjectId('64e06db054884543c442f49e'), 'deg': 'founder'}

In [ ]:
#Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [6]:
"""In MongoDB, sorting is done by the sort() method. The sort() method consists of two basic building blocks. These building blocks are fields to be sorted and the sort order.

The sorting order in MongoDB is defined by either a one (1) or a minus (-1). Here the positive one represents the ascending order, while the negative one represents the descending order."""

'In MongoDB, sorting is done by the sort() method. The sort() method consists of two basic building blocks. These building blocks are fields to be sorted and the sort order.\n\nThe sorting order in MongoDB is defined by either a one (1) or a minus (-1). Here the positive one represents the ascending order, while the negative one represents the descending order.'

In [79]:
data4=[
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"}
]

In [80]:
import pymongo

In [81]:
clint=pymongo.MongoClient("mongodb+srv://kumbanti7:kumbanti7@cluster0.l2qczdo.mongodb.net/?retryWrites=true&w=majority")

In [82]:
db=clint["cafe_details"]

In [83]:
cafe_collection=db['cafe_details_coll']

In [84]:
cafe_collection.insert_many(data4)

In [85]:
for i in cafe_collection.find():
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}

In [ ]:
cafe_collection.find().sort( { "borough": 1 } )

In [57]:
#Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [60]:
for i in cafe_collection.find():
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}

In [61]:
cafe_collection.delete_one({'_id':5})

In [62]:
for i in cafe_collection.find():
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}

In [68]:
cafe_collection.delete_many({})

In [69]:
for i in cafe_collection.find():
    print(i)

In [72]:
data4=[
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"}
]

In [73]:
cafe_collection.insert_many(data4)

In [74]:
for i in cafe_collection.find():
    print(i)

{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}

In [75]:
cafe_collection.drop()

In [76]:
for i in cafe_collection.find():
    print(i)