In [1]:
str='bk79574abc'
or 
str1="abc1234"

list1=[4,"abc",3.4,True]

float=54.23

tuple=(78,"Banti",7.5,True)
tuple can be with empty value , with int data type , with string data type , it can be with mixed values data type 
or with nested values data type  .

In [1]:
var1=''
type(var1)

str

In [2]:
var2='[DS,ML,Python]'
type(var2)

str

In [3]:
var3=['DS','ML','Python']
type(var3)

list

In [4]:
var4 = 1.
type(var4)

float

In [5]:
""" operator uses for Division 
eg. 40 devide by 10 is equel to 4 """
var1=40
var2=10
var3=var1/var2
print(var3)

4.0

In [6]:
""" % operator means Modulus which gives reminder after division
eg. 200 devide by 30 then remider would be 20 """

var1=200
var2=30
var3=var1%var2
print(var3)

20

In [7]:
"""operator uses for floor division . Floor division is a division operation that rounds the result 
down to the nearest number, which is less than or equal to the normal division result.
eg. floor division for 25 would be 12"""

var1=25
var2=2
var3=var1//var2
print(var3)

12

In [8]:
""" ** operator uses for exponential calculation
eg. exponentail of 3 would be 9 """

var1=3
var2=2
var3=var1**var2
print(var3)

9

In [9]:
list=[3,67.45,'Banti',4+6j,True,76,False,"Kumar",1099,86.5]
for i in list:
    print(i)
    print(type(i))

3
<class 'int'>
67.45
<class 'float'>
Banti
<class 'str'>
(4+6j)
<class 'complex'>
True
<class 'bool'>
76
<class 'int'>
False
<class 'bool'>
Kumar
<class 'str'>
1099
<class 'int'>
86.5
<class 'float'>

In [10]:
A = int(input())
B=int(input())
count = 0
while A % B != 1:
    count = count + 1
    A=A/B
print(count)

 100
 2

2

In [11]:
list=[3,5,7,9,12,20,25,27,30,32,36,38,40,42,45,50,52,55,60,65,70,72,75,78,81]
print(list[24])
for i in list:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3 ')

81
3 is divisible by 3
5 is not divisible by 3
7 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
20 is not divisible by 3
25 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
32 is not divisible by 3
36 is divisible by 3
38 is not divisible by 3
40 is not divisible by 3
42 is divisible by 3
45 is divisible by 3
50 is not divisible by 3
52 is not divisible by 3
55 is not divisible by 3
60 is divisible by 3
65 is not divisible by 3
70 is not divisible by 3
72 is divisible by 3
75 is divisible by 3
78 is divisible by 3
81 is divisible by 3

In [12]:
""" Mutable Data Type = Mutable data type are those objects which can be replace/modify at a perticular 
index inside the veriable. 
eg. List  """

list1=[3,67.45,'Banti',4+6j,True,76,False,"Kumar",1099,86.5]
print(list1[2])
list1[2]='Kumar'
print(list1)
print(list1[7])
list1[7]='Banti'
print(list1)

Banti
[3, 67.45, 'Kumar', (4+6j), True, 76, False, 'Kumar', 1099, 86.5]
Kumar
[3, 67.45, 'Kumar', (4+6j), True, 76, False, 'Banti', 1099, 86.5]

In [13]:
""" Imutable Data Type = Imutable data type are those objects which can not be replace/modify at a perticular
index inside the veriable. 
eg. String  """

str1='bantikumar12345'
print(str1)
print(str1[2])
str1[2]=8
print(str1)

bantikumar12345
n

TypeError: 'str' object does not support item assignment